# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# serverless
.serverless/

# misc
.DS_Store

# env files (can opt-in for committing if needed)
.env

