service: image-upload-app

frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  stage: dev

  httpApi:
    cors: true
    authorizers:
      cognitoAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl:
          Fn::Join:
            - ""
            - - "https://cognito-idp."
              - Ref: "AWS::Region"
              - ".amazonaws.com/"
              - Ref: CognitoUserPool
        audience:
          - Ref: CognitoUserPoolClient

  iam:
    role:
      statements:
        # Allow Lambda to put objects only in uploads folder
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:HeadObject
            - s3:GetOBJECT
          Resource:
            - arn:aws:s3:::image-upload-learning-neha/uploads/*
          # DynamoDB write permission
        - Effect: Allow
          Action:
            - "dynamodb:PutItem"
          Resource:
            - arn:aws:dynamodb:ap-south-1:*:table/image-metadata-table-neha

functions:
  getUploadUrl:
    handler: src/upload/getUploadUrl.handler
    environment:
      UPLOAD_BUCKET: image-upload-learning-neha
    events:
      - httpApi:
          path: /upload-url
          method: GET
          authorizer:
            name: cognitoAuthorizer

  processUpload:
    handler: src/s3/processUpload.handler
    environment:
      TABLE_NAME: image-metadata-table-neha
    events:
      - s3:
          bucket: image-upload-learning-neha
          event: s3:ObjectCreated:*
          rules:
            - prefix: uploads/
          existing: true

resources:
  Resources:
    # -----------------------------
    # Cognito User Pool
    # -----------------------------
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: image-upload-user-pool

        UsernameAttributes:
          - email

        AutoVerifiedAttributes:
          - email

        EmailConfiguration:
          EmailSendingAccount: COGNITO_DEFAULT

        VerificationMessageTemplate:
          DefaultEmailOption: CONFIRM_WITH_CODE
          EmailSubject: "Verify your email"
          EmailMessage: "Your verification code is {####}"

        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireUppercase: true
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: true

        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: verified_email
              Priority: 1

    # -----------------------------
    # Cognito App Client (NO SECRET)
    # -----------------------------
    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: image-upload-app-client
        UserPoolId:
          Ref: CognitoUserPool

        GenerateSecret: false

        ExplicitAuthFlows:
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_USER_SRP_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH

        PreventUserExistenceErrors: ENABLED

    # -----------------------------
    # S3 Bucket for Uploads
    # -----------------------------
    UploadBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: image-upload-learning-neha
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders:
                - "*" # Allows all headers in the request
              AllowedMethods:
                - GET
                - PUT
              AllowedOrigins:
                - "*"
              ExposedHeaders:
                - ETag
              MaxAge: 3000

    # -----------------------------
    # Tale for image data
    # -----------------------------
    ImagesTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: image-metadata-table-neha
        AttributeDefinitions:
          - AttributeName: imageId
            AttributeType: S
        KeySchema:
          - AttributeName: imageId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

  Outputs:
    CognitoUserPoolId:
      Value:
        Ref: CognitoUserPool
      Export:
        Name: CognitoUserPoolId

    CognitoUserPoolClientId:
      Value:
        Ref: CognitoUserPoolClient
      Export:
        Name: CognitoUserPoolClientId

    UploadBucketName:
      Value:
        Ref: UploadBucket
      Export:
        Name: UploadBucketName
